* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Helvetica", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.small-container {
  max-width: 620px;
  margin: 0 auto;
  width: 95%;
}

.big-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
}

.title {
  font-family: "Helvetica", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.68px;
}

.subtitle {
  font-family: "Merriweather";
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.32px;
  color: #898888;
}

/*header*/
header {
  /* navbar; */
  /*slider-slide*/
}

header .navbar {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.52px;
  margin: auto;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  /* margin-bottom: 200px; */
}

header .navbar ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: auto;
  text-decoration: none;
  color: #989696;
}

header .navbar a {
  text-decoration: none;
  color: #989696;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

header .navbar a:after {
  content: "";
  display: block;
  width: 0;
  position: relative;
  left: 0;
  top: 3px;
  height: 2px;
  background-color: #010101;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

header .navbar a:hover:after {
  width: 100%;
}

header .navbar .active, header .navbar a:hover {
  color: #010101;
}

header .navbar .logo-img {
  display: block;
}

header .menu-button {
  display: none;
}

@media (max-width: 650px) {
  header .navbar {
    display: none;
  }
  header .navbar-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
    left: 0;
    width: 100%;
    color: #000;
    background: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    z-index: 2;
  }
  header .navbar-active ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
  }
  header .navbar-active ul li {
    margin-bottom: 22px;
  }
  header .menu-button {
    display: block;
    position: relative;
    left: calc(50% - 15px);
    /* left: 45%; */
    top: 27px;
    width: 40px;
    height: 3px;
    background-color: #000;
    border: none;
    margin-bottom: 200px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    cursor: pointer;
  }
  header .menu-button:before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 9px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  header .menu-button:after {
    content: '';
    width: 40px;
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: 9px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  header .menu-button-active {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    visibility: hidden;
    transition: transform 0.2s;
  }
  header .menu-button-active:before {
    visibility: visible;
    -webkit-transform: rotate(-27deg);
            transform: rotate(-27deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  header .menu-button-active:after {
    visibility: visible;
    -webkit-transform: rotate(27deg);
            transform: rotate(27deg);
    margin-top: -14px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
}

header .header-info {
  width: 95%;
  margin: auto;
  text-align: center;
  font-weight: 400;
  padding-bottom: 100px;
}

header .header-info .header-title {
  color: #1d1e1f;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 0.88px;
  font-family: "Helvetica", sans-serif;
}

header .header-info .header-text {
  font-family: "Merriweather";
  font-style: italic;
  color: #898888;
  font-size: 17px;
  letter-spacing: 0.48px;
  line-height: 17px;
  margin-bottom: 68px;
}

header .header-info .header-btn {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  letter-spacing: 0.52px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 25px 52px;
  border: 1px solid #000000;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

header .header-info .header-btn:hover {
  color: #fff;
  background: #000;
}

/*slider-main*/
#header-slider {
  margin-top: 200px;
}

.header-slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding-bottom: 100px;
}

.header-slider-pagination .pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d0d0d0;
  opacity: 1;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

.header-slider-pagination .pagination-bullet-active {
  background-color: #a7a7a7;
}

@media (max-width: 820px) {
  .header-slider-pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-slider-pagination .pagination-bullet:nth-child(even) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

/*main*/
/*roadmap*/
.nowidth {
  width: unset;
  width: 95%;
}

.project-roadmap {
  background-color: #1d1d1d;
  background-image: url("../img/Black.png"), url("../img/Black-city.png");
  background-repeat: no-repeat;
  background-position: bottom -2px center, bottom 1% right 50px;
  background-size: contain;
  position: relative;
  padding-top: 150px;
  padding-bottom: 300px;
}

.project-roadmap .year-results-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.project-roadmap .year-results-block .year-results {
  max-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-bottom: 20px;
}

.project-roadmap .year-results-block .year-results .year-title {
  font-family: "Helvetica", sans-serif;
  color: #fefefe;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.96px;
  margin-bottom: 15px;
}

.project-roadmap .year-results-block .year-results .year-results-text {
  color: #b7b7b7;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.project-roadmap .year-results-block .third-circle {
  margin-bottom: 180px;
}

.project-roadmap .year-results-block .align-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: left;
}

@media (max-width: 820px) {
  .project-roadmap .year-results-block .year-results {
    max-width: 55%;
  }
  .project-roadmap .year-results-block .align-right {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    text-align: right;
  }
}

@media (max-width: 820px) and (max-width: 640px) {
  .project-roadmap .year-results-block .year-results {
    margin-bottom: 40px;
    max-width: 65%;
  }
  .project-roadmap .year-results-block .year-results .year-title {
    font-size: 36px;
  }
  .project-roadmap .year-results-block .year-results .year-results-text {
    font-size: 14px;
  }
}

@media (max-width: 820px) and (max-width: 640px) and (max-width: 440px) {
  .project-roadmap .year-results-block .year-results .year-title {
    font-size: 30px;
  }
  .project-roadmap .year-results-block .year-results .year-results-text {
    font-size: 13px;
  }
}

@media (max-width: 820px) and (max-width: 640px) {
  .project-roadmap .year-results-block .third-circle {
    margin-bottom: 100px;
  }
}

.project-roadmap .vertical-line {
  width: 5px;
  background-color: #fff;
  height: 100%;
  position: absolute;
  right: 50%;
  margin-right: -2px;
  top: 0;
}

.project-roadmap .vertical-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: center;
  right: calc(50% - 22.5px);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-roadmap .vertical-circle {
  width: 25px;
  height: 25px;
  background: #1d1d1d;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.project-roadmap .vertical-circle:nth-child(3) {
  width: 45px;
  height: 45px;
}

.project-roadmap .vertical-circle:hover {
  background: #fff;
}

@media (max-width: 820px) {
  .project-roadmap .vertical-line {
    right: 30%;
    margin-right: 0;
  }
  .project-roadmap .vertical-circles {
    right: calc(29% - 20px);
    /* right: 30%; */
  }
}

@media (max-width: 820px) and (max-width: 640px) {
  .project-roadmap .vertical-line {
    width: 3px;
    right: 20%;
  }
  .project-roadmap .vertical-circles {
    right: calc(18.4% - 13px);
  }
  .project-roadmap .vertical-circles .vertical-circle {
    width: 19px;
    height: 19px;
    border: 2px solid #fff;
  }
  .project-roadmap .vertical-circles .vertical-circle:nth-child(3) {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 900px) {
  .project-roadmap {
    padding-bottom: 150px;
  }
}

@media (max-width: 900px) and (max-width: 640px) {
  .project-roadmap {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}

/*team*/
.team {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.team .team-title {
  color: #1d1e1f;
}

.team .team-subtitle {
  margin-bottom: 125px;
}

.team .team-members-block {
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team .team-members-block .team-member:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.team .team-members-block .img-wrapper {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.team .team-members-block .team-member-photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.team .team-members-block .team-member-name {
  color: #464646;
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.team .team-members-block .team-member-profession {
  color: #b3b3b3;
  font-family: "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.26px;
  margin-bottom: 20px;
}

.team .team-members-block .team-member-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60px;
  margin: auto;
}

.team .team-members-block .team-member-socials .social-link {
  text-decoration: none;
}

.team .team-members-block .team-member-socials .social-link img {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.team .team-members-block .team-member-socials .social-link img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 650px) {
  .team .team-members-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .team .team-members-block .team-member {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) and (max-width: 500px) {
  .team .team-members-block .team-member {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 500px) {
  .team .team-subtitle {
    margin-bottom: 75px;
  }
}

/*about-us*/
.about-us {
  color: #fff;
  text-align: center;
  background-color: #181818;
  padding-top: 250px;
  padding-bottom: 250px;
  -webkit-clip-path: polygon(0 150px, 100% 0%, 100% calc(100% - 150px), 0% 100%);
          clip-path: polygon(0 150px, 100% 0%, 100% calc(100% - 150px), 0% 100%);
  background-image: url("../img/star-wars-text.png");
  background-repeat: no-repeat;
  background-position: bottom -500px center;
  background-size: auto;
}

.about-us .about-us-subtitle {
  color: #777777;
  margin-bottom: 100px;
}

.about-us .services {
  font-family: "Helvetica", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us .services .service {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.about-us .services .service .service-img {
  margin: auto;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .about-us .services .service .service-img {
    width: 125px;
    height: 125px;
  }
}

.about-us .services .service .graph, .about-us .services .service .heart, .about-us .services .service .cloud {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.about-us .services .service .graph:hover, .about-us .services .service .heart:hover, .about-us .services .service .cloud:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-us .services .service .graph {
  background-image: url("../img/services/LINE_GRAPH.png");
}

.about-us .services .service .heart {
  background-image: url("../img/services/HEART.png");
}

.about-us .services .service .cloud {
  background-image: url("../img/services/UPLOAD.png");
}

.about-us .services .service .service-title {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.52px;
  margin-bottom: 30px;
}

.about-us .services .service .service-subtitle {
  color: #383838;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.36px;
  margin-bottom: 500px;
}

@media (max-width: 900px) {
  .about-us .services .service .service-title {
    font-size: 22px;
  }
  .about-us .services .service .service-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .about-us .services {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us .services .service {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .about-us .services .service:last-child {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 450px;
  }
  .about-us .services .service .service-subtitle {
    margin: auto;
    margin-bottom: 40px;
    max-width: 95%;
  }
}

@media (max-width: 750px) and (max-width: 500px) {
  .about-us .services .service {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .about-us .services .service:last-child {
    margin-bottom: 100px;
  }
}

.about-us .services-btn {
  color: #000000;
  background-color: #ffffff;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 25px 52px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.about-us .services-btn:hover {
  color: #fff;
  background: #000;
}

@media (max-width: 500px) {
  .about-us {
    background-image: unset;
  }
}

/*footer*/
/*contact-us*/
footer {
  text-align: center;
}

footer .contact-us {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .contact-us .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 100px;
}

footer .contact-us .contacts .contacts-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .contact-us .contacts .contacts-item img {
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

footer .contact-us .contacts .contacts-item img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

footer .contact-us .contacts .contacts-item a {
  display: block;
}

@media (max-width: 570px) {
  footer .contact-us .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
  footer .contact-us .contacts .contacts-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 40px;
  }
}

footer .contact-us .contact-form {
  max-width: 700px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contact-us .contact-form .contact-input {
  text-align: center;
  color: #898888;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  padding: 13px 20px;
  margin-bottom: 20px;
  border: 1px solid #999999;
}

footer .contact-us .contact-form .contact-message {
  text-align: left;
  padding-bottom: 195px;
}

footer .contact-us .contact-form .contact-form-btn {
  color: #fefefe;
  background-color: #161616;
  font-family: "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.34px;
  text-decoration: none;
  border: none;
  padding: 13px 20px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border: 1px solid #161616;
}

footer .contact-us .contact-form .contact-form-btn:hover {
  color: #161616;
  background-color: #fefefe;
  border: 1px solid #161616;
}

@media (max-width: 570px) {
  footer .contact-us {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

footer .copyrigt {
  color: #3b3b3b;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 900px) {
  .contact-form {
    width: 90%;
  }
}

/*Single page*/
.single-header {
  margin-top: 68px;
  margin-bottom: 68px;
  width: 95%;
  text-align: center;
  font-weight: 400;
}

.single-header .single-header-title {
  color: #1d1e1f;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 0.88px;
  font-family: "Helvetica", sans-serif;
}

.single-header .single-header-text {
  font-family: "Merriweather";
  font-style: italic;
  color: #898888;
  font-size: 17px;
  letter-spacing: 0.48px;
  line-height: 17px;
  margin-bottom: 68px;
}

.single-main {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #010101;
  color: #fefefe;
}

.single-main .single-title {
  font-family: "Helvetica", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.96px;
  margin-bottom: 15px;
}

.single-main .single-text {
  color: #b7b7b7;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.4em;
}
/*# sourceMappingURL=style.css.map */